@font-face {
  font-family: munro;
  src: url('fonts/munro.ttf') format('truetype'); 
}

body {
  font-family: 'munro';
  font-size: 30px;
  color: white ;
  width: fit-content;
  text-align: center;
  background-color: black;
  }
  
  a:link {
    color:gold;
  }

  .flex-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    border: 5px solid;
    border-color: white;

  }

  .grid-container-main
  {
    display: grid;
    grid-template-columns: 0.1fr 0.8fr 0.1fr;
    grid-template-rows: 1fr;
    justify-content: center;
  }

  .grid-container-main-header
  {
    grid-column: 2 / 2;
    grid-row: 1 / 1;  
  }

  .grid-container-main-content
  {
    grid-column: 2 / 2;
    grid-row: 2 / 2;  
  }

  .grid-container {
    display: grid;
    width: 1500px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .grid-art {
    grid-column: 1 / 1;
    grid-row: 1 / 3;  
  }

  .grid-text {
    grid-column: 2 / 2;
    grid-row: 1 / 1;  
  }

  .grid-options {
    grid-column: 2 / 2;
    grid-row: 2 / 2;  
  }

  @media only screen and (max-width: 1000px) {
  .grid-art {grid-area: 1 / span 2;}
  .grid-text {grid-area: 2 / span 2;}
  .grid-options {grid-area: 3 / span 2;}
  
}

  h1, h2, h3 {
    margin: 0;
    line-height: 1.25;
    font-family: 'munro';
  }
  
  h2, h3 {
    color: white
  }
  
 
 